<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}">
    <title>Quản lý tài khoản - Freshland</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<!-- Import fragment header từ file header.html trong thư mục fragments -->
<div th:replace="fragments/header :: header"></div>

    <main>
        <!-- Modal tạo đơn hàng mới -->
        <div id="newOrderModal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 th:text="${user.id != null} ? 'Sửa tài khoản' : 'Thêm tài khoản'"></h2>
                <form id="newUserForm" th:action="@{/user/save}" th:object="${user}" method="post">
                    <input type="hidden" name="id" th:field="*{id}">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="username">Tài khoản:</label>
                            <input type="text" id="username" th:field="*{username}" required>
                        </div>
                        <div class="form-group">
                            <label for="pass">Mật khẩu:</label>
                            <input th:if="${user.id != null}" type="password"
                                   id="pass"
                                   th:field="*{password}"
                                   placeholder="Nhập mật khẩu"
                                   class="form-control"

                            />
                            <input th:unless="${user.id != null}" type="password"
                                   id="pass"
                                   th:field="*{password}"
                                   placeholder="Nhập mật khẩu"
                                   class="form-control"
                                   required
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="role">Quyền:</label>
                            <select id="role" th:field="*{role}" required>
                                <option value="">Chọn quyền</option>
                                <option value="ADMIN">ADMIN</option>
                                <option value="STAFF">STAFF</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="fullname">Tên đầy đủ:</label>
                            <input type="text" id="fullname" th:field="*{fullName}" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="tel" id="email" th:field="*{email}" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="phone">Số điện thoại:</label>
                            <input type="text" id="phone" th:field="*{phone}" required>
                        </div>
                        <div class="form-group">
                            <label for="status">Trạng thái:</label>
                            <select id="status" th:field="*{status}">
                                <option value="">Chọn trạng thái</option>
                                <option value="1">Hoạt động</option>
                                <option value="0">Khóa</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-actions">
                        <a th:href="@{/user}" type="button" class="btn secondary-btn" id="cancelNewOrderBtn">Hủy bỏ</a>
                        <button type="submit" class="btn primary-btn">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

</body>
</html>